{% extends "layout.html" %}

{% block content %}
<div class=" col-md-12">
  <div></div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>品牌</th>
        <th>型号</th>
        <th>原价</th>
        <th>优惠价</th>
        <th>优惠方案</th>
        <th>购买记录</th>
        <th>产品链接</th>
        <th>创建</th>
        <th>更新</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
